final_project/vit-bird/all_results.json
final_project/vit-bird/config.json
final_project/vit-bird/eval_results.json
final_project/vit-bird/preprocessor_config.json
final_project/vit-bird/pytorch_model.bin
final_project/vit-bird/README.md
final_project/vit-bird/train_results.json
final_project/vit-bird/trainer_state.json
final_project/vit-bird/training_args.bin
final_project/vit-bird/checkpoint-375/config.json
final_project/vit-bird/checkpoint-375/optimizer.pt
final_project/vit-bird/checkpoint-375/preprocessor_config.json
final_project/vit-bird/checkpoint-375/pytorch_model.bin
final_project/vit-bird/checkpoint-375/rng_state.pth
final_project/vit-bird/checkpoint-375/scheduler.pt
final_project/vit-bird/checkpoint-375/trainer_state.json
final_project/vit-bird/checkpoint-375/training_args.bin
final_project/vit-bird/checkpoint-561/config.json
final_project/vit-bird/checkpoint-561/optimizer.pt
final_project/vit-bird/checkpoint-561/preprocessor_config.json
final_project/vit-bird/checkpoint-561/pytorch_model.bin
final_project/vit-bird/checkpoint-561/rng_state.pth
final_project/vit-bird/checkpoint-561/scheduler.pt
final_project/vit-bird/checkpoint-561/trainer_state.json
final_project/vit-bird/checkpoint-561/training_args.bin
final_project/swin-bird/all_results.json
final_project/swin-bird/config.json
final_project/swin-bird/eval_results.json
final_project/swin-bird/preprocessor_config.json
final_project/swin-bird/pytorch_model.bin
final_project/swin-bird/README.md
final_project/swin-bird/train_results.json
final_project/swin-bird/trainer_state.json
final_project/swin-bird/training_args.bin
final_project/swin-bird/checkpoint-375/config.json
final_project/swin-bird/checkpoint-375/optimizer.pt
final_project/swin-bird/checkpoint-375/preprocessor_config.json
final_project/swin-bird/checkpoint-375/pytorch_model.bin
final_project/swin-bird/checkpoint-375/rng_state.pth
final_project/swin-bird/checkpoint-375/scheduler.pt
final_project/swin-bird/checkpoint-375/trainer_state.json
final_project/swin-bird/checkpoint-375/training_args.bin
final_project/swin-bird/checkpoint-561/config.json
final_project/swin-bird/checkpoint-561/optimizer.pt
final_project/swin-bird/checkpoint-561/preprocessor_config.json
final_project/swin-bird/checkpoint-561/pytorch_model.bin
final_project/swin-bird/checkpoint-561/rng_state.pth
final_project/swin-bird/checkpoint-561/scheduler.pt
final_project/swin-bird/checkpoint-561/trainer_state.json
final_project/swin-bird/checkpoint-561/training_args.bin
